<div class="row row-cols-md-2 mt-5">
    <div class="col d-flex justify-content-center">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center ">Pass Provinciale Giornaliero</h5>
                <p class="card-text d-flex justify-content-center">Cosa comperende i pass Proviciale</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-center">Potrai visitare più di 100 attrazioni</li>
                    <li class="list-group-item d-flex justify-content-center">Avrai a disposizione le migliori guide turistiche</li>
                </ul>
                <div class="d-flex justify-content-center">
                    <a href=" #" class="btn btn-primary">Acquista</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Pass Nazionale Settimanale</h5>
                <p class="card-text d-flex justify-content-center">Cosa comperende i pass Nazionale</p>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item d-flex justify-content-center">Potrai visitare esclusivamente 1000+ attrazioni in tutta italia</li>
                    <li class="list-group-item d-flex justify-content-center">Avrai a disposizione le migliori guide turistiche</li>
                    <li class="list-group-item d-flex justify-content-center">Riceverai dei gadget di Touring Club Italiano</li>
                </ul>
                <div class="d-flex justify-content-center">
                    <a href=" #" class="btn btn-primary">Acquista</a>
                </div>

            </div>
        </div>
    </div>

</div>